body {
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: black solid; */
}


#dealer {
    flex-basis: 250px;
}

#player-cards img, #dealer-cards img {
    margin: 5px;
    height: 200px;
    width: 150px;
    border-radius: 10px;
}
#player-cards:hover img, #dealer-cards:hover img {
    transform: translateY(-10px) rotate(0deg);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

#player {
    flex-basis: 250px;
}

#result {
    text-align: center;
    flex-basis: 100px;
}

#winner {
    font-size: 42px;
}

#p-score, #d-score {
    width: 50px;  
    /* height: 50px;        */
    background-color: #ddd;  
    border-radius: 10px;
    text-align: center;
    /* line-height: 50px; */
    font-weight: bold;
    margin: 10px;        
    border: black solid;
}

#buttons {
    display: flex;
}

#hit, #stay, #double-down, #deal {
    background: linear-gradient(135deg, #ff7b00, #ffbb00);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#hit:hover, #stay:hover, #double-down:hover, #deal:hover{
    background: linear-gradient(135deg, #ffbb00, #ff7b00);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

#hit:active, #stay:active #double-down:active, #deal:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
